<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SJ5CP8DCH9"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-SJ5CP8DCH9');
        </script>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta name="author" content="Vito Van"/>
        <meta name="theme-color" content="#CC0000">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="icon" type="image/png" href="favicon.png"/>
        <link rel="stylesheet" type="text/css" href="app.css">
        <title>#THE-TITLE#</title>
    </head>
    <body>
        <div class="panel">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="current"><a href="list.html">List</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="rss.xml">RSS</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="head">
                <h1><a href="index.html">Vito Van</a></h1>
            </div>
            <div class="content markdown-body">
                #THE-CONTENT#
            </div>
        #COMMENT-SCRIPT#
        </div>
    </body>
</html>
