<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta name="author" content="Vito Van"/>
        <meta name="theme-color" content="#CC0000">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="icon" type="image/png" href="favicon.png"/>
        <link rel="stylesheet" type="text/css" href="app.css">
        <link rel="stylesheet" type="text/css" href="github-markdown.css">
        <title>#THE-TITLE#</title>
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-69347509-2', 'auto');
         ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="panel">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="current"><a href="list.html">List</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="rss.xml">RSS</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="head">
                <h1><a href="index.html">Vito Van</a></h1>
            </div>
            <div class="content markdown-body">
                #THE-CONTENT#
            </div>
        </div>
    </body>
</html>
