body{
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei","å¾®è½¯é›…é»‘",sans-serif;
    color: #000;
    background: #FFF none repeat scroll 0% 0%;
    font-size: 10pt;
    clear: both;
    padding: 0;
    margin: 0;
}
.head{
    padding-left: 10px;
}
.head>h1>a{
    color: #DDD;
    text-decoration: none;
}
.head>h1>a:hover{
    text-decoration: underline;
}
.content{
    padding: 10px;
}
.content a:visited{
    color: #555;
}
.index>a{
    display: block;
    line-height: 2em;
}