body{
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",sans-serif;
    color: #000;
    background: #FFF none repeat scroll 0% 0%;
    font-size: 10pt;
    clear: both;
    padding: 0;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    float: left;
    max-width: 50em;
    padding-bottom: 50px;
}
.panel{
    float: left;
    padding: 2em 0.9em;
    line-height: 1.2em;
    min-height: 20em;
    margin-right: 1em;
    border-right-color: blue;
    border-right-style: dashed;
    border-right-width: 0.1em;
}
.panel>ul{
    list-style:none;
}
.panel a{
    text-decoration: none;
    color: blue;
    display: block;
}
.panel>ul>li{
    margin-bottom: 0.9em;
}
.panel>ul>li.current>a{
    text-decoration: underline;
}
.panel a:hover{
    text-decoration: underline;
}
@media (max-width: 600px) {
    .panel {
        padding: 0.9em 0.2em;
        min-height: 1em;
        width: 95%;
        border-right: none;
        border-bottom-color: blue;
        border-bottom-style: dashed;
        border-bottom-width: 0.1em;
    }
    .panel>ul>li{
        float: left;
        margin: 0 0.8em;
    }
    .container{
        max-width: 100%;
    }
    .markdown-body{
        min-width: inherit !important;
    }
}
.head{
    padding: 1em;
    text-transform: uppercase;
}
.head>h1>a{
    color: #D0D0D0;
    text-decoration: none;
}
.content{
    padding:0 1em;
    font-size: 1.1em;
    line-height: 1.5em;
}
.index>a{
    display: block;
    line-height: 2em;
}
.index>li{
    margin: 0.5em 0;
    list-style-type: circle;
}
.index>li.shit{
  opacity: .1;
}
.markdown-body{
    background-color: #F0F1EE;
    padding: 1em;
    border-radius: 0.3em;
    min-width: 44em;
}
